*
{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.main
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    width: 120%;
    max-width: 1000px;
}
.title
{
    font-weight: 800;
}
.footer
{
    font-weight: bold;
}
.redes a:hover
{
    list-style: none;
    float: right;
    text-decoration: none;
    transition: cubic-bezier(1, 0, 0, 1);
    transition-duration: 2s;
}
.pie
{
    display: inline-flex;
}
.twit a:hover
{
    
    transition: cubic-bezier(5, 0, 0, 5);
    transition-duration: 2s;
}
.git a:hover
{
    display: inline-block;
    transition: cubic-bezier(10, 0, 0, 10);
    transition-duration: 2s;
}